

    <nav>
        <ul>
            <li>Accueil</li>
            <li><a href='product.php'>Les instruments de musique</a></li>
            <li>Contactez-nous !</li>
            <li>En savoir +</li>
        </ul>
    </nav>